.table-fofoe th {
  max-width: 100px;
}

.table-fofoe td {
  max-width: 100px;
  word-wrap: break-word;
}

table li {
  display: block;
}

table ul {
  display: contents;
}

table input {
  width: 100%;
}