.date-col {
  max-width: 135px;
}

.date-input {
  //width: 150px !important;
}

.table > tbody > tr.without-border-top > td {
  border-top: none;
}

.right {
  color: #008000FF;
}
.wrong {
  color: #FF0000FF;
}
